# Djerba environment variables
# Copy this file to .env and fill in values for your environment.

# Root directory of the djerba installation.
# Used to locate HTML templates, stylesheets etc.
DJERBA_BASE_DIR=/djerba

# Directory containing reference data: OncoKB annotation cache, gene annotation files etc.
DJERBA_RUN_DIR=/reference

# Must include the djerba source lib so plugins are importable.
# If installed via pip, this is not needed
PYTHONPATH=/djerba/src/lib

# OncoKB API key required for populating the OncoKB annotation cache.
# You can get a free academic key at https://www.oncokb.org/apiAccess
# After initial cache population, not needed at report-generation time.
ONCOKB_API_KEY=not_needed_for_demo

# Local directory for workspace files (intermediate files during configure/extract).
WORKSPACE_DIR=./test-e2e/workspace

# Local directory containing input data files MAF, VCF, expression counts, etc.
DATA_DIR=./test-e2e/data

# Local directory for output files (JSON report, HTML, PDF).
OUTPUT_DIR=./test-e2e/output

# Local directory containing reference data
REFERENCE_DIR=./test-e2e/reference